/* Add your custom styles here */
body {
    background-color: #f8f9fa;
}

.jumbotron {
    background-color: #343a40;
    color: #ffffff;
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.porsche-image-container {
    width: 100%;
    overflow: hidden;
}

.porsche-image-container img {
    width: 100%;
    height: auto;
}
.navbar-brand {
    font-family: 'PorscheNext', 'Arial Narrow', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    
    height: 100%;
    color:black; 
}.navbar {
    display: flex;
    justify-content: center;
    color: #000000;
}